body {
  margin: 0;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
  .container {
    max-width: 1240px;
    margin: 0 auto;
  }
  .page-banner {
    width: 100%;
    margin: 0;
    .banner-header {
      width: 100%;
      text-align: center;
    }
  }
}
