$lavender: #a790a5;
$tulip: #28112b;
$wine: #2e0219;
$sherbert: #f19c79;
$snow: #fff;
$steel: #c1c1c1;
$steel-dark: #2b2c28;
$seafoam: #339989;
$frost: #6c91c2;

$color-primary: $lavender;
$color-accent: $sherbert;
$color-background: $snow;
$color-background-shade: $steel;
$color-text: $steel-dark;
$color-text-weak: $steel;
$color-text-strong: $seafoam;
$color-text-heading: $tulip;
$color-border: $wine;
