// Colors
$lavender: #a790a5;
$tulip: #28112b;
$wine: #2e0219;
$sherbert: #f19c79;
$snow: #fff;
$steel: #c1c1c1;
$steel-dark: #2b2c28;
$seafoam: #339989;
$frost: #6c91c2;
// Color theme
$color-primary: $lavender;
$color-accent: $sherbert;
$color-background: $snow;
$color-background-shade: $steel;
$color-text: $steel-dark;
$color-text-weak: $steel;
$color-text-strong: $seafoam;
$color-text-heading: $tulip;
$color-border: $steel;
// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'IBM Plex Sans', sans-serif;
$font-tertiary: 'Dosis', sans-serif;
$font-small: 'Quicksand', sans-serif;
// Borders
$border-primary: 2px solid $color-border;
// Media Queries
$medium: 1240px;
$small: 560px;

@mixin under-m {
  @media (max-width: $medium) {
    @content;
  }
}

@mixin under-s {
  @media (max-width: $small) {
    @content;
  }
}

@mixin over-m {
  @media (min-width: #{$medium + 1px}) {
    @content;
  }
}

@mixin over-s {
  @media (min-width: #{$small + 1px}) {
    @content;
  }
}
