body {
  margin: 0;
  font-family: $font-primary;
  .fullwidth {
    width: 100%;
  }
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 5%;
  }
  .page-banner {
    width: 100%;
    margin: 0;
    .banner-header {
      width: 100%;
      text-align: center;
    }
  }
  .header {
    font-size: 2em;
    padding: 0.67em 0;
    font-family: $font-primary;
    color: $color-text-heading;
  }
  .button {
    border-radius: 5px;
    background-color: $color-accent;
    color: $color-background;
    padding: 10px 20px;
    transition: all 0.4s ease-out;
    cursor: pointer;
    &:hover {
      background-color: darken($color-accent, 20%);
    }
  }
}
